<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - twothor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/mainpage.css" />
    </environment>
   
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/wwwroot/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <div class="wrapper">
    @if (User.Identity.Name != null)
    {
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                 <li><a href="../#whatitis" >What is 2Thor?</a></li>
                    <li><a href="../#howimgthing" >How it works?</a></li>
                    

                    @if(ViewData["isTwoThor"].Equals("False"))
                    {
                      
                       <li><a href="../#become2" >Become a 2Thor!</a></li>
                    }
                    <li><a href="@Url.Action("Index", "Home")">
                        <img src="../images/logo.png" alt="" style="height:35px;"  />
                    </a></li>
                    @if(ViewData["isTwoThor"].Equals("True"))
                    {
                        @if(ViewData["twoThorPicture"].Equals("null"))
                        {
                        <div style="position:relative">
                        <li><a href="@Url.Action("Profile", "Account")">
                            <img src="../images/profile.png" alt="" style="height:40px; margin-top: 10px; margin-left: 10px; margin-right: 10px; position: absolute;" />
                        </a></li>
                        </div>
                        <li>
                        <div style="position:relative">
                        <img src="../images/letter case with message.png" alt="" style="height:40px; margin-top: 10px; margin-left: 69px; margin-right: 10px;position: absolute; " />
                        <a href="@Url.Action("Index", "Chat")">
                            <img src="../images/letterBlankButton1.png" alt="" style="height:40px; margin-top: 10px; margin-left: 69px; margin-right: 10px;position: absolute; " />
                            <div class="chat_number" style="margin-left: 71px;margin-top:8px;"> @ViewData["newMessages"]</div>       
                        </a>
                        </div>
                        </li>
                        }
                        @if(!ViewData["twoThorPicture"].Equals("null"))
                        {
                        <div style="position:relative">
                        <img src="@Url.Content(ViewData["twoThorPicture"].ToString())" style="width:40px; height:40px; margin-top: 10px; margin-left: 10px; margin-right: 10px; position: absolute; "/>
                            <li><a href="@Url.Action("Profile", "Account")">
                            <img src="../images/profilePictureLayout.png" alt="" style="height:40px; margin-top: 10px; margin-left: 10px; margin-right: 10px; position: absolute; "/>
                        </a></li>
                        </div>

                        <li>
                        <div style="position:relative">
                        <img src="../images/letter case with message.png" alt="" style="height:40px; margin-top: 10px; margin-left: 69px; margin-right: 10px;position: absolute; " />
                        <a href="@Url.Action("Index", "Chat")">
                            <img src="../images/letterBlankButton1.png" alt="" style="height:40px; margin-top: 10px; margin-left: 69px; margin-right: 10px;position: absolute; " />
                            <div class="chat_number" style="margin-left: 71px; margin-top:8px;"> @ViewData["newMessages"]</div>       
                        </a>
                        </div>
                        </li>
                        }
                       
                    }
                    @if(!ViewData["isTwoThor"].Equals("True"))
                    {
                         <li>
                        <div style="position:relative">
                        <img src="../images/letter case with message.png" alt="" style="height:40px; margin-top: 10px; margin-left: 19px; margin-right: 10px;position: absolute; " />
                        <a href="@Url.Action("Index", "Chat")">
                            <img src="../images/letterBlankButton1.png" alt="" style="height:40px; margin-top: 10px; margin-left: 19px; margin-right: 10px;position: absolute; " />
                            <div class="chat_number" style="margin-left: 21px;margin-top:8px;"> @ViewData["newMessages"]</div>       
                        </a>
                        </div>
                        </li>
                    }
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="LogoutNow" >Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    }



<a asp-area="" asp-controller="Home" asp-action="Index"></a>
    <div class="container body-content">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @if(User.Identity.Name != null)
    {

    }
</body>


</html>

<script>


</script>